@font-face {
  font-family: "Bebas Neue";
  src: local("BebasNeueRegular"), url("../fonts/BebasNeueRegular.woff2") format("woff2"),
    url("../fonts/BebasNeueRegular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.header{
    background-color: #635854;
    padding: 12px 0;
    border-bottom: 4px solid #3596F5;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}
.navbar-item{
    margin-left: 40px;
    margin-right: 40px;
}
.navbar-link{
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.navbar-contacts{
    text-align: right;
}
.navbar-text{
    display: block;
    color: #fff;
    margin-bottom: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.navbar-phone{
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}


.main-content{
    padding: 54px 0;
    display: flex;
}
.maim-title{
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 37px;
    line-height: 44px;
    text-align: center;
    text-transform: uppercase;
    color: #635854;
    margin: 0;
}
.home-image path{
    opacity: 0;
}
.home-image path:hover {
    opacity: 1;
    cursor: pointer;
}
path.current-floor{
    opacity: 1;
}
.main-info{
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.counter-group{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter-button{
    background-color: #fff;
    border: none;
    cursor: pointer;
}
.counter-arrow-down{
    transform: rotateX(180deg);
}
.counter-text{
    font-family: "Bebas Neue", sans-serif;
    color: #635854;
    font-size: 124px;
    font-weight: normal;
    margin: 25px 0;
}
.button-primary{
    background: #3596F5;
    border-radius: 6px;
    border: none;
    padding: 16px 36px;
    color: #fff;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    cursor: pointer;
}

.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s;
}
.is-open{
    opacity: 1;
    transform: scale(1);
}
.modal-dialog{
    position: relative;
    max-width: 1000px;
    min-height: 565px;
    background-color: #fff;
    flex-grow: 1;
    display: flex;
    opacity: 0;
    transform: translateY(-10%);
    transition: transform 0.2s, opacity 0.2s;
    transition-delay: 0.2s;
}
.is-open > .modal-dialog{
    opacity: 1;
    transform: translateY(0);
}
.modal-image{
    background-color: #EBEBEB;
    width: 60%;
    text-align: center;
    padding: 50px;
}
.flats path{
    opacity: 0;
}
.flats path:hover{
    opacity: 1;
    cursor: pointer;
}
path.current-flat{
    opacity: 1;
}
.modal-titel{
    font-family: "Bebas Neue", sans-serif;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    margin-top: 0;
    margin-bottom: 25px;
}
.modal-info{
    width: 40%;
    padding: 50px 46px;
}
.flat-list{
    padding: 0;
    list-style: none;
    margin-top: 55px;
}
.flat-item{
    width: 200px;
    margin-bottom: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #635854;
}
.flat-link{
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-decoration: none;
    color: #635854;
}
.flat-link:hover{
    color: #3596F5;
    text-decoration: underline;
    cursor: pointer;
}
.is-active{
    color: #3596F5;
    text-decoration: underline;
}
.modal-alert{
    color: #635854;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    font-style: italic;
    margin-top: 56px;
}

.modal-clouse-button{
    position: absolute;
    top: 27px;
    right: 38px;
    cursor: pointer;
    border: none;
    background-color: #fff;
}
.footer{
    background-color: #D7D7D7;
    min-height: 171px;
    border-top: 4px solid #3596F5;
}
.footer-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 62px;
}
.footer-logo{
    display: block;
}
.footer-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-navbar-contacts{
    text-align: right;
    margin-left: 37px;
    margin-right: 70px;
}
.footer-navbar-text{
    display: block;
    color: #635854;
    margin-bottom: 4px;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
}
.footer-navbar-phone{
    color: #635854;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}
.footer-social{
    width: 125px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}
.social-link svg path:hover{
    fill: #3596F5;
    cursor: pointer;
}
.footer-navbar-menu{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    text-align: center;
}
.footer-navbar-item{
    margin-left: 40px;
    margin-right: 40px;
}
.footer-navbar-link{
    color: #635854;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
}
.footer-navbar-link:hover{
    color: #3596F5;
    cursor: pointer;
}